extends layout.pug

block banner
    - title = "the-doulas"
    picture
        source(srcset=`img/${title}-banner-desktop-1x.webp, img/${title}-banner-desktop-2x.webp 2x`, media="(min-width: 64em)", type="image/webp")
        source(srcset=`img/${title}-banner-desktop-1x.jpg, img/${title}-banner-desktop-2x.jpg 2x`, media="(min-width: 64em)", type="image/jpeg")
        source(srcset=`img/${title}-banner-tablet-1x.webp, img/${title}-banner-tablet-2x.webp 2x`, media="(min-width: 48em)", type="image/webp")
        source(srcset=`img/${title}-banner-tablet-1x.jpg, img/${title}-banner-tablet-2x.jpg 2x`, media="(min-width: 48em)", type="image/jpeg")
        source(srcset=`img/${title}-banner-mobile-1x.webp, img/${title}-banner-mobile-2x.webp 2x`, type="image/webp")
        img(srcset=`img/${title}-banner-mobile-1x.jpg, img/${title}-banner-mobile-2x.jpg 2x`, alt='cheryl seeing emelyn for the first time').page-banner--image
    h1.page-banner--heading Meet the Doulas

block main
    include partials/_doulas.pug
    svg(style="position: absolute; width: 0; height: 0; overflow: hidden;", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
        symbol(id="email-icon", viewBox="0 0 32 32")            
            path(d="M26.667 5.333h-21.333c-1.467 0-2.653 1.2-2.653 2.667l-0.013 16c0 1.467 1.2 2.667 2.667 2.667h21.333c1.467 0 2.667-1.2 2.667-2.667v-16c0-1.467-1.2-2.667-2.667-2.667zM26.667 10.667l-10.667 6.667-10.667-6.667v-2.667l10.667 6.667 10.667-6.667v2.667z")
        symbol(id="phone-icon", viewBox="0 0 32 32")            
            path(d="M8.827 14.387c1.92 3.773 5.013 6.853 8.787 8.787l2.933-2.933c0.36-0.36 0.893-0.48 1.36-0.32 1.493 0.493 3.107 0.76 4.76 0.76 0.733 0 1.333 0.6 1.333 1.333v4.653c0 0.733-0.6 1.333-1.333 1.333-12.52 0-22.667-10.147-22.667-22.667 0-0.733 0.6-1.333 1.333-1.333h4.667c0.733 0 1.333 0.6 1.333 1.333 0 1.667 0.267 3.267 0.76 4.76 0.147 0.467 0.040 0.987-0.333 1.36l-2.933 2.933z")
        symbol(id="website-icon", viewBox="0 0 32 32")            
            path(d="M15.987 2.667c-7.36 0-13.32 5.973-13.32 13.333s5.96 13.333 13.32 13.333c7.373 0 13.347-5.973 13.347-13.333s-5.973-13.333-13.347-13.333zM25.227 10.667h-3.933c-0.427-1.667-1.040-3.267-1.84-4.747 2.453 0.84 4.493 2.547 5.773 4.747zM16 5.387c1.107 1.6 1.973 3.373 2.547 5.28h-5.093c0.573-1.907 1.44-3.68 2.547-5.28zM5.68 18.667c-0.213-0.853-0.347-1.747-0.347-2.667s0.133-1.813 0.347-2.667h4.507c-0.107 0.88-0.187 1.76-0.187 2.667s0.080 1.787 0.187 2.667h-4.507zM6.773 21.333h3.933c0.427 1.667 1.040 3.267 1.84 4.747-2.453-0.84-4.493-2.533-5.773-4.747zM10.707 10.667h-3.933c1.28-2.213 3.32-3.907 5.773-4.747-0.8 1.48-1.413 3.080-1.84 4.747zM16 26.613c-1.107-1.6-1.973-3.373-2.547-5.28h5.093c-0.573 1.907-1.44 3.68-2.547 5.28zM19.12 18.667h-6.24c-0.12-0.88-0.213-1.76-0.213-2.667s0.093-1.8 0.213-2.667h6.24c0.12 0.867 0.213 1.76 0.213 2.667s-0.093 1.787-0.213 2.667zM19.453 26.080c0.8-1.48 1.413-3.080 1.84-4.747h3.933c-1.28 2.2-3.32 3.907-5.773 4.747zM21.813 18.667c0.107-0.88 0.187-1.76 0.187-2.667s-0.080-1.787-0.187-2.667h4.507c0.213 0.853 0.347 1.747 0.347 2.667s-0.133 1.813-0.347 2.667h-4.507z")
    h2 Meet the Doulas
    .doula-container
        each doula, prop in doulas
            .doula
                .doula-headshot
                    a(href=`img/headshots/${doula.name}.jpg`)
                        picture
                            source(srcset=`img/headshots/thumbs/${doula.name}.webp`, type="image/webp")
                            img(src=`img/headshots/thumbs/${doula.name}.jpg`, width="200", height="280")
                .doula-info
                    if doula.credentials.length > 0
                        h3= prop + ', ' + doula.credentials
                    else
                        h3= prop
                .doula-bio= doula.bio
                .doula-contact
                    if doula.phone.length > 0
                        .phone
                            svg(class="icon")
                                use(xlink:href="#phone-icon")
                            span #[a(href="tel:" + doula.phone) #{doula.phone}]
                    if doula.email.length > 0
                        .email
                            svg(class="icon")
                                use(xlink:href="#email-icon")
                            span #[a(href="mailto:" + doula.email) #{doula.email}]
                    if doula.website.length > 0
                        .website
                            svg(class="icon")
                                use(xlink:href="#website-icon")
                            span #[a(href="http://" + doula.website, rel="noopener") #{doula.website}]
