extends layout.pug

block banner
    picture
        source(srcset=`img/${title}-banner-desktop-1x.webp, img/${title}-banner-desktop-2x.webp 2x`, media="(min-width: 64em)", type="image/webp")
        source(srcset=`img/${title}-banner-desktop-1x.jpg, img/${title}-banner-desktop-2x.jpg 2x`, media="(min-width: 64em)", type="image/jpeg")
        source(srcset=`img/${title}-banner-tablet-1x.webp, img/${title}-banner-tablet-2x.webp 2x`, media="(min-width: 48em)", type="image/webp")
        source(srcset=`img/${title}-banner-tablet-1x.jpg, img/${title}-banner-tablet-2x.jpg 2x`, media="(min-width: 48em)", type="image/jpeg")
        source(srcset=`img/${title}-banner-mobile-1x.webp, img/${title}-banner-mobile-2x.webp 2x`, type="image/webp")
        img(srcset=`img/${title}-banner-mobile-1x.jpg, img/${title}-banner-mobile-2x.jpg 2x`, alt='julia supporting laboring mother').page-banner--image
    h1.page-banner--heading The Doula Cooperative of Rochester

block main
    h2 Congratulations!
    p Being pregnant and having a baby is one of life’s most memorable events.
    p The Doula Cooperative is here to offer you the information and support you need to make informed decisions and have the best birth experience possible. We support all birthing choices and are dedicated to helping you with the care you want for yourself as well as your baby. Our goal is always healthy, happy birth that strengthens you and your family.
    p In addition to providing birth doula support, we offer postpartum doula support to provide support for the whole family as you adjust to the needs and personality of your new baby. We are here to make this a satisfying, supported transition time for the whole family.
    p We know that you will look back on this time often, and we want you to be able to share the joy as you retell others the story of your little one’s beginning.